@import "tailwindcss";

@theme {
  --color-primary-400: #0000FF;
  --color-primary-500: #0000B2;
  --color-primary-100: #B2B2FF;

  --color-background-200: #D8D8D8;
  --color-background-100: #FFFFFF;

  --color-success: #43DF0F;

  --color-danger-400: #E53935;
  --color-danger-500: #E0261D;

  --font-size-button: 22px;
}