@import "tailwindcss";

@theme {
  --color-primary-400: #0000FF;
  --color-primary-500: #0000B2;
  --color-primary-100: #B2B2FF;

  --color-background-200: #D8D8D8;
  --color-background-100: #FFFFFF;
}